@media (min-width: 768px) {
	.imgbox img {
		height: 250px;
		display: block;
		margin: 0 auto;
		border-radius: 5px 5px 0px 0px;
	}
}
.content {
	background: #8c93950d;
	padding: 11px 24px;
	border: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
}
.pagination {
	margin: 25px;
}
.pagination button {
	padding: 3px 12px;
	margin-right: 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.pagination .activeSelect {
	background: blueviolet;
	color: white;
}
